.about {
    height: 80vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url(../../Assets/profil24.mp4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
  }
  .about .secContainer .aboutText {
    text-align: center;
  }
  .about .secContainer .aboutText .title {
    color: var(--whiteColor);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
  }